@charset "UTF-8";

@font-face {
    font-family: logo;
    src: url(fonts/alexbrush.ttf);
}

@font-face {
    font-family: header;
    src: url(fonts/engebrechtre.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/expressway.ttf);
}

@font-face {
    font-family: other;
    src: url(fonts/gnuolane.ttf);
}



/* BODY*/
body {
	margin: 0 0 0 0;
	background-color: #111;
	color: #fff;
}
/* /BODY */




/* NAVIGATION */
.header {
	width: 100%;
	height: 60px;
	background-color: #111;
	box-shadow: 0 0 2% 0 #000;
}

.logo {
	color: #FFF;
	font-family: logo;
	text-shadow: -1px 2px #a3e4d7, , -1px 0px #9ce2d4;
	font-size: 44px;
	font-weight: 400;
	float: left;
	margin: 10px 15px 10px 2em;
}

.logo:hover {
	text-shadow: -1px 2px #a3e4d7, 2px 1px 8px #a3e4d7;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 10px;
    padding: .2em 5em 1px 1px;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
	background-color: #111;
}

li a {
	display: block;
	color: #a3e4d7;
	text-align: center;
	font-family: header;
	padding: 14px 16px;
	text-decoration: none;
	box-shadow: 0 0 2% 0 #000;
	border-radius: 3px;
	background-color: #111;
}

a:hover:not(.active) {
    background-color: #1a1a1a;
	text-shadow: 1px -1px #fff, 2px 1px 8px #a3e4d7;
}

.active {
	background-color:#a3e4d7;
	color: #fff;
	text-shadow: 1px 1px 10px #000;
}

.active:hover {
	background-color:#a3e4d7;
}
/* /NAVIGATION*/




/* DROPDOWN */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #111;
    z-index: 9999;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: #111;
}

.dropbtn-active {
	background-color:#a3e4d7;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1a1a1a;
}

.dropbtn-active {
	background-color: #a3e4d7;
	color: #fff;
	text-shadow: 1px 1px 10px #000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-active {
	background-color:#a3e4d7;
	color: #fff;
	text-shadow: 1px 1px 10px #000;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #262626
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* /DROPDOWN */




/* SLIDESHOW */
.w3-content{
	max-width:980px;
	margin:auto
}
.w3-row-padding:after,.w3-row-padding:before {
	float:left;
	width:100%
}
.w3-section {
	margin-top:16px!important;
	margin-bottom:16px!important
}
.w3-opacity:hover {
	opacity:0.60
}
.w3-hover-opacity-off {
	opacity:.5
}
.w3-hover-opacity-off:hover {
	opacity:1
}
.w3-col {
	float:left;
	width:100%
}
.w3-col.s4{
	width:33.33333%
}
/* /SLIDESHOW */




/* IMAGE DISPLAY*/
.image-display-container {
	width: 100%;
}

.image-display-container h1 {
	font-family: header;
	color: #a3e4d7;
	text-align: center;
	padding-bottom: 5px;
}


.image-display {
	text-align: center;
}

.image-display span + span {
	margin-left: 15px;
}

.full img {
	display:inline-block;
	width: 100%;
}

.huge img {
	display:inline-block;
	width: 900px;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.large img {
	display:inline-block;
	width: 450px;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.med img {
	display:inline-block;
	width: 293.5px;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small img {
	display:inline-block;
	width: 215px;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small-br {
	margin-bottom: 5px;
}

.med-br {
	margin-bottom: 10px;
}

.large-br {
	margin-bottom: 20px;
}
/* /IMAGE DISPLAY */




/* ILLUSTRATIONS */
.illustrations-container {
	width: 100%;
}

.illustrations-container h1 {
	font-family: header;
	color: #a3e4d7;
	text-align: center;
	padding-bottom: 15px;
}

.illustrations {
	text-align:center;
}

.illustrations img {
	position: relative;
	width: 100%;
}

.illustration-set h1 {
	font-family: header;
	color: #a3e4d7;
	text-align: center;
	padding-bottom: 15px;
}

.illustration-set-container {
	width: 100%;
}

.illustration-set {
	text-align: center;
}

.illustration-set-container h1 {
	font-family: header;
	color: #a3e4d7;
	text-align: center;
	padding-bottom: 15px;
}

.illustration-set {
	text-align: center;
}

.illustration-set-nav {
	font-family: header;
	color: #a3e4d7;
	float:right;
	padding-bottom: 15px;
}
/* ILLUSTRATIONS */




/* ABOUT */
.about-text {
	padding: 10px 100px 0px 100px;
}

.about-text h2{
	font-family: header;
	color: #a3e4d7;
	font-size: 20px;
}

.about-text p {
	font-family: other;
	text-align: justify;
	font-size: 17px;
}
/* /ABOUT */


/* FOOTER */
.footer-container {

	color: #fff;
	background-color: #1a1a1a;
	padding: 0 0 20px 0;
}

.footer {
	text-align: center;
	font-family: header;
	padding-top: 30px;
}

.footer span + span {
	margin-left: 25px;
}

.link {
	color: #a3e4d7;
	font-size: 20px;
}

.copyright {
	font-size: 14px
}
/* /FOOTER */


/* CONTACT */



/* /CONTACT */


/* COMMENTS */

.comment-container {
	max-width: ;
	margin: 5%;
	padding: 1% 3%;
	background-color: #333333;
	border-radius: 5px;
}

#HCB_comment_box {
	font-family: other;
	color: #ffffff;
}


.blog-post p{
text-align: justify;
font-family: body;
font-size: 15px;
}

.blog-post {
	margin: 5%;
	background-color: #333333;
	padding: 1% 3% 2%;
	border-radius: 5px;
	text-align: center;
}
.blog-post p{
text-align: justify;
font-family: body;
font-size: 15px;
margin: 0% 7% 3% 7%;
}
.blog-post h1{
font-family: header;
color: #a3e4d7;
}

.blog-image {
	display:inline-block;
	width: 40%;
	padding: auto;
	margin: 1%;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-image-lg {
	display:inline-block;
	width: 82.5%;
	padding: auto;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-nav {
	display:inline-block;
	width: 40%;
	padding: auto;
	margin: 1% 1% 3% 1%;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .75;
}

.blog-nav:hover {
	opacity: 1.0;
	text-decoration: none;
}
